.AnalyticsWrapper {
  background-color: #1a1a1d;
  height: 100vh;
}
.chartContainer {
  width: 60%;
  height: 400px;
  min-width: 300px;
  margin: auto;
  background-color: #1a1a1d;
}
.chartUnitBtnWrapper {
  margin: auto;
  text-align: center;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.chartUnitBtnWrapper .chartUnitBtn {
  margin: 0 3px;
  padding: 1px 15px;
  font-size: 1.4rem;
  background-color: #d4dad6;
  border-radius: 600px;
}
.chartUnitBtnWrapper .activeChartBtn {
  background-color: #1e2320;
  color: #5ac08f;
  border: 2px solid #5ac08f;
}

.navLinkWrapper {
  position: absolute;
  bottom: 0;
  right: 2px;
  display: none;
  text-align: center;
}
.navLinks {
  font-size: 1.5rem;
  padding: 0px;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navLinks a {
  color: white;
  text-decoration: none;
}
.navLinks .active {
  color: #64d89c;
}
.toggleBtn {
  margin: auto;
  font-size: 2rem;
  border-radius: 50%;
  padding: 0 10px;
}

.chartContainer .chartNavigationButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #5ac08f; */
  width: 100%;
}
.chartNavigationButton button {
  background-color: inherit;
  outline: none;
  border: none;
  padding: 2px 10px;
  font-size: 1.4rem;

  /* color: #4dc07d; */
}
.chartNavigationButton i {
  margin: 0 5px;
}
@media only screen and (max-width: 455px) {
  .navLinkWrapper {
    display: block;
  }
}
