@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Poppins:wght@200&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --darkbackground: #251919;
  --lightColor: #ffffff;
  overflow: hidden;
}
.line{
  width: 100%;
  height: 1px;
  background-color: ivory;
  border-radius: 50%;
}
.mainContainer{
  width:100%;
  height: max-content;
  margin: auto;
  text-align: center;
  background-color: var(--darkbackground);
  height: 100vh;
}


.timerwithSidebarContainer{
  width: 100%;
  min-height: 100%;
  height: 100%;
}

