@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Poppins:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkbackground: #1a1a1d;
  --lightColor: #ffffff;
  overflow: hidden;
}
button:disabled {
  cursor: not-allowed;
}
input:disabled {
  cursor: not-allowed;
}
.line {
  width: 100%;
  height: 1px;
  background-color: ivory;
  border-radius: 50%;
}
.mainContainer {
  width: 100%;
  height: max-content;
  margin: auto;
  text-align: center;
  background-color: #1a1a1d;
  height: 100%;
}
