.navbar {
  padding: 7px;
}
nav button {
  border: none;
  outline: none;
  background-color: inherit;
}
.tabBtn {
  margin: 0 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: Roboto;
  font-size: 2rem;
  line-height: 28px;
  color: var(--lightColor);
  font-weight: lighter;
  transition: 0.3s;
}
.tabBtn:hover {
  font-size: 2.5rem;
}
.activetab {
  border-bottom: 3px solid #50d1ca;
  transition: all 0.5 ease-in;
}

.settingBtn {
  position: absolute;
  right: 10px;
  clear: both;
}

.signedInLinksWrapper {
  display: flex;
  background-color: rgb(220, 246, 105);
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
}
.tabbtnsWrapper {
  background-color: aliceblue;
  display: flex;
  background-color: rgb(88, 153, 58);
  justify-content: center;
  align-items: center;
  width: 90%;
  min-width: min-content;
}
.signoutBtn {
  font-size: 1.4rem;
  background-color: tomato;
  padding: 2px 15px;
  color: white;
  font-weight: 600;
  border-radius: 600px;
}
.signedOutLinksWrapper {
  display: flex;
  width: 90%;
  justify-content: right;
}
